:root{
    --background--color: rgb(54, 124, 54);
    --place--background--color: rgba(214, 221, 214, 0.288);
    --score--color: rgb(65, 65, 65);
    --accent--color: rgb(139, 111, 51);
    --text--color:rgb(14, 31, 14);
    --light--text--color: rgb(207, 219, 207);
    --red--color:rgb(230, 68, 63);
    --blue--color: rgb(50, 50, 219);

}
.buttons-and-stuff{
    display: flex;
    flex-direction: row;
    width: 90%;
    .columncontaier-left{
        width: 30%;
    }
    .columncontaier-right{
        width: 70%;
        display: flex;
        flex-direction: column;
        .rowcontainer{
            display: flex;
            justify-content: space-around;
        }
    }
}
#select-hand{
    color: var(--light--text--color);
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(51, 46, 46);
    width: 90%;
    margin: 5px;
    border-radius: 1rem;
    height: 5rem;
}
#score{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--accent--color);
    color: var(--light--text--color);
    margin: 5px;
    border-radius: 1rem;
    width: 90%;
    height: 2rem;
    justify-content: space-around;
    align-items: center;
    #scoredisplay{
        background-color: var(--score--color);
        width: 30%;
        align-items: center;
        justify-content: center;
        height: 1rem;
        border-radius: 1rem;
        padding: 3px;
    }
    

}
#reqirement{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(116, 93, 46);;
    width: 90%;
    margin: 5px;
    border-radius: 1rem;
    height: 5rem;
    img{
        width: 3.5rem;
        height: 3.5rem;
        margin: .5rem;
    }
}
#title{
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: var(--accent--color);
    border-radius: 1rem;
    color: var(--light--text--color);
}

.body{
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
}
.gameinfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--score--color);
    width: 20%;
    padding: 1rem;
    

}
.board{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background--color);
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#modifiers{
 background-color: var(--place--background--color);
 width: 65%;
 height: 10rem;

}
#invintory{
    background-color: var(--place--background--color);
    width: 30%;
    height: 10rem;
}
#selected{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    
}
.selectedContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--place--background--color);
    width: 80%;
    height: 10rem;
}
.handContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--place--background--color);
    width: 80%;
    height: 10rem;
}
.topRow{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#hand{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.card{
    background-color: var(--light--text--color);
    width: 15%;
    height: 90%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#playHand{
    background-color: var(--red--color);
    height: 2rem;
    width: 100%;
}
#targetnum{
    color: var(--light--text--color);
    font-weight: bold;
    font-size: 2rem;
}
.handnumberdisplay{
    background-color: var(--blue--color);
    color: var(--light--text--color);
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .top{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }
        border: 2px solid var(--light--text--color);
        border-radius: 1rem;
        width: 100%;
    }
